@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
:root {
	/*Tan*/
	--prim: #EAE7DC;
	--sec: #D8C3A5;
	/*Gray*/
	--tert: #8E8D8A;
	/*Red*/
	--acc1: #E98074;
	--acc2: #E85A4F;
	/*Fonts*/
	--fonts: 'Fjalla One',sans-serif;
}

body {
	font-family: var(--fonts);
	background-color: var(--prim);
}

#calendar {
	position: absolute;
	top: 10%;
	left: 22%;
}

#header {
	padding: 5px 0px;
	text-align: center;
	color: var(--acc2);/*#eac456;*/
	font-size: 53px;
}

.days {
	border-style: groove;
	height: 40px; width: 140px;
	color: white;
	font-size: 18px;
	text-align: center;
	background-color: var(--sec);
}

.box {
	border-style: groove;
	height: 140px;
	width: 140px;
	background-color: white;
}

.box .date {
	font-family: var(--fonts);
	color: var(--tert);
	position: relative;
	top: 5px;
	left: 100px;
	padding: 4px 9px;
	color: black;
	transition: ease-out 0.15s;
}

#current {
	background-color: var(--acc1);
	color: white;
	border-radius: 20px;
}

.box:hover .date {
	color: black;
	border-radius: 20px;
	background-color: lightgray;
	transition: ease-in 0.15s;
	cursor: pointer; 
}