#calendar {
	position: absolute;
	top: 10%;
	left: 10%;
}

.box {
	border-style: groove;
	padding: 50px;
}

.date {
	font-family:sans-serif;
	color: #555;
	position: relative;
	bottom: 40px;
	left: 40px;
	padding: 4px 9px;
	color: black;
	transition: ease-out 0.15s;
}
#current {
	background-color: red;
	color: white;
	border-radius: 20px;
}

.box:hover .date {
	color: black;
	border-radius: 20px;
	background-color: lightgray;
	transition: ease-in 0.15s;
	cursor: pointer; 
}